@font-face {
    font-family: Norse-Bold;
    src: url('Norse-Bold.otf');
}

body {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}

img {
    width: 100%;
    height: 100%;
}

label, input {
    display: flex;
    flex-direction: column;
}

input {
    border-radius: 3px;
    border-width: 1px;
    border-color: #E5E7EB;
    width: 200px;
}

input:focus {
    outline: none !important;
    border: 2px solid rgb(40, 100, 230);
    box-shadow: 5px 2px 4px #888888;
}

a {
    color: inherit;
}
.container {
    display: flex;
    flex-direction: row;
}

/* Create full screen image */
.sidebar {
    width: 40%;
    margin: 0px;
    padding: 0px;
    background-image: url('images/image.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: none;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner {
    font-family: Norse-Bold, sans-serif;
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    position: relative;
    padding: 10px 0px;
    font-size: 45px;
    justify-content: center;
    height: 35%;
    width: 100%;
}

.upper, .lower {
    height: 50%;
    display: flex;
}

.upper {
    justify-content: center;
    align-items: center;
}

.lower {
    justify-content: center;
    align-items: flex-end;
}

.banner img {
    height: 150px;
    width: 125px;
}

.credit {
    display: flex;
    justify-content: center;
}

.signup-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hwb(0 91% 7% / 0.781);
}

.form {
    height: 72%;
    background-color: white;
    box-shadow: 5px 6px 8px #888888;
    padding: 0px 0px 0px 30px;
    padding: 10px 0px 0px 30px;
}

.indent {
    margin: 20px 0px 0px;
}

.header, .footer {
    padding: 0px 0px 0px 30px;
}

.create {
    width: 200px;;
    background-color: #596D48;
    color: white;
    border: none;
    border-radius: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 16px 32px;
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2), 0 6px 6px 0 rgba(0,0,0,0.19); 
}

.login {
    color: #596D48;
}

.information {
    display: flex;
    justify-content: flex-start;
    gap: 60px;
}